<div class="bgslider-owl" id="home">
  <div id="owl-slider-home" class="owl-carousel">
    <div class="item imgbg" style="background-image:url(<%= image_path("img-slide-1.jpg") %>)">
      <!-- intro -->
      <div class="overlay-main v-align text-center ">
        <div class="col-md-10 col-xs-11 onStep" data-animation="fadeInUp" data-time="300">

          <h1 style="text-shadow: 0 0 6px #000;">Ошибка!</h1>
          <br>
        </div>
      </div>
      <!-- intro end -->
    </div>
  </div>
</div>