<!-- subheader -->
<section id="subheader">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>
          ГАЛЕРЕЯ
        </h1>
      </div>
      
      <!-- devider -->
      <div class="col-md-12">
        <div class="devider-page">
          <div class="devider-img-right">
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <ul class="subdetail">
          <li>
            <a href="/">ДОМОЙ</a>
          </li>

          <li class="sep">/
          </li>

          <li>ГАЛЕРЕЯ
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- subheader end -->

<!-- section projects -->
<section class="whitepage no-top" id="projects" aria-label="projects">
  <div class="container-fluid">
    <div class="row">
    
      <!-- filter project -->
      <div class="onStep" data-animation="fadeInUp" data-time="300">
        <div class="filter-wraper text-center">
          <ul id="filter-porto">
            <li class="filt-projects selected" data-project="*">ВСЁ
            </li>
            
            <li class="filt-projects" data-project=".rooms">КОМНАТЫ
            </li>

            <li class="filt-projects" data-project=".resto">КУХНЯ
            </li>

            <li class="filt-projects" data-project=".lands">ЛАНШАФТ
            </li>

            <li class="filt-projects" data-project=".spa">МОРЕ
            </li>
          </ul>
        </div>
      </div>
      <!-- filter project end -->
      
      <!-- start gallery -->
      <div class="no-gutter onStep" data-animation="fadeInUp" data-time="600" id="projects-wrap">
        <% names = { luxe: 'rooms', standart: 'rooms', kitchen: 'resto', land: 'lands', sea: 'spa' } %>
        <% Dir.glob("app/assets/images/gallery/*/*.jpg").shuffle.each do |image_path| %>
          <% folder = image_path.split('/')[-2] %>
          <% image = image_path.split('/')[-1] %>
          <div class="col-md-3 col-xs-12 item <%= names[folder.to_sym] %>">
            <div class="projects-grid big-img">
              <a href="<%= image_path("gallery/#{folder}/#{image}") %> ">
                <div class="hovereffect">
                  <img alt="imageportofolio" class="img-responsive" src="<%= image_path("gallery/#{folder}/min/#{image}") %> ">
                  <div class="overlay">
                    <div class="icon"><i class="fa fa-search-plus"></i></div>
                  </div>
                </div></a>
            </div>
          </div>
        <% end %>
      </div>
      <!-- gallery end -->
    </div>
  </div>
</section>
<!-- section projects end -->
      