<!-- subheader -->
<section id="subheader">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>
          ЦЕНЫ
        </h1>
      </div>

      <!-- devider -->
      <div class="col-md-12">
        <div class="devider-page">
          <div class="devider-img-right">
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <ul class="subdetail">
          <li>
            <a href="/">ДОМОЙ</a>
          </li>

          <li class="sep">/
          </li>

          <li>
            ЦЕНЫ
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="whitepage" aria-label="rooms">
  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <div class="room">
          <div class="heading">Стандарт</div>
          <table class="table table-bordered">
            <thead>
            <tr>
              <th><strong>МЕСЯЦ</strong></th>
              <th><strong>ЦЕНА ЗА НОМЕР</strong></th>
            </tr>
            </thead>
            <tbody>
              <td>Май</td>
              <td><div class="prices">600 грн.</div></td>
            </tr>
            <tr>
              <td>Июнь</td>
              <td><div class="prices">800 грн.</div></td>
            </tr>
            <tr>
              <td>Июль</td>
              <td><div class="prices">900 грн.</div></td>
            </tr>
            <tr>
              <td>Август</td>
              <td><div class="prices">900 грн.</div></td>
            </tr>
            <tr>
              <td>Сентябрь</td>
              <td><div class="prices">600 грн.</div></td>
            </tr>
            </tbody>
          </table>
          <div class="devider-rooms"></div>
          <div class="btn-book"><%= link_to "ПОСМОТРЕТЬ КОМНАТУ", standart_path %></div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="room">
          <div class="heading">Люкс</div>
          <table class="table table-bordered">
            <thead>
            <tr>
              <th><strong>МЕСЯЦ</strong></th>
              <th><strong>ЦЕНА ЗА НОМЕР</strong></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Май</td>
              <td><div class="prices">800 грн.</div></td>
            </tr>
            <tr>
              <td>Июнь</td>
              <td><div class="prices">1100 грн.</div></td>
            </tr>
            <tr>
              <td>Июль</td>
              <td><div class="prices">1200 грн.</div></td>
            </tr>
            <tr>
              <td>Август</td>
              <td><div class="prices">1200 грн.</div></td>
            </tr>
            <tr>
              <td>Сентябрь</td>
              <td><div class="prices">800 грн.</div></td>
            </tr>
            </tbody>
          </table>
          <div class="devider-rooms"></div>
          <div class="btn-book"><%= link_to "ПОСМОТРЕТЬ КОМНАТУ", luxe_path %></div>
        </div>
      </div>

    </div>
  </div>
</section>


