<!-- subheader -->
<section id="subheader">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>
          ЦЕНЫ
        </h1>
      </div>

      <!-- devider -->
      <div class="col-md-12">
        <div class="devider-page">
          <div class="devider-img-right">
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <ul class="subdetail">
          <li>
            <a href="/">ДОМОЙ</a>
          </li>

          <li class="sep">/
          </li>

          <li>
            ЦЕНЫ
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="whitepage" aria-label="rooms">
  <div class="container">
    <div class="row">
      <% Room.all.each do |room| %>
      <div class="col-md-6">
        <div class="room">
          <div class="heading"><%= room.name_ru %></div>
          <table class="table table-bordered">
            <thead>
            <tr>
              <th><strong>МЕСЯЦ</strong></th>
              <th><strong>ЦЕНА ЗА НОМЕР</strong></th>
            </tr>
            </thead>
            <tbody>
            <% room.months.all.order(:number).each do |m| %>
            <tr>
              <td><%= m.name_ru %></td>
              <td><div class="prices"><%= (m.price.to_i if m.present?) || "Нету" %> грн.</div></td>
            </tr>
            <% end %>
            </tbody>
          </table>
          <div class="devider-rooms"></div>
          <div class="btn-book"><%= link_to "ПОСМОТРЕТЬ КОМНАТУ", room.name %></div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</section>


